<main>
    <div class="container">
        <img src="img/logo.png">
        <p>Spletna stran se trenutno prenavlja. Če bi nas radi najeli za nastop, pokličite <a href="tel:+38641708945">041708945</a> (Gregor), za novice o zasedbi pa obiščite našo stran <a href="https://sl-si.facebook.com/Oktet9">na Facebooku</a>.</p>
    </div>
</main>
