<main>
    <div class="container">
        <img src="img/logo.png">
        <nav class="menu">
            <ul class="menu-holder">
                <li class="menu-item"><a href="#zgoscenka">Zgoščenka</a></li>
                <li class="menu-item"><a href="#nastopi">Nastopi</a></li>
                <li class="menu-item"><a href="#kontakt">Kontakt</a></li>
            </ul>
        </nav>
    </div>

    <hr>

    <div class="container">
        <h2 id="zgoscenka">Svoboda!<span>?</span></h2>
        <img src="img/cd.png" alt="Naslovnica zgoščenke Svoboda" />

        <p><em>Svoboda</em> je šopek skladb, sestavljen kot svarilo in zdravilo pred zgodovinsko pozabljivostjo. V njem najdemo cvetove iz kmečkih uporov, Ilirskega kraljestva, Avstrijskega cesarstva ter z bojišč obeh svetovnih vojn. Nabrali smo jih tam, kjer so naši predniki iskali svobodo, jih zalili s svežo vodo in povezali s trakom mladosti.</p>

        <p>Po dveh izdajah, ki sta bili zgolj malce uradnejša posnetka koncertov, smo tokrat prvič posneli pravo zgoščenko. Najprej smo nekaj mesecev spoznavali izbrani material na vajah, nato pa <a href="https://www.facebook.com/media/set/?set=a.10153084920215027.1073741830.37531920026&type=1">pet napornih snemalnih dni</a> preživeli v prijetni akustiki stare športne dvorane Gimnazije Celje-Center.</p>

        <p>Zdaj je izdelek končno pripravljen. Premierno ga je bilo mogoče dobiti na koncertu <a href="https://www.facebook.com/events/952935804737843/">Na pragu svobode</a>, lahko ga naročite <a href="mailto:gregor.deleja@gmail.com">po elektronski pošti</a>, kmalu bo na voljo tudi v digitalni obliki.</p>

        <hr>

        <h2 id="nastopi">Nastopi</h2>

        <p>Večina nastopov v prihajajočih nekaj mesecih bo osredotočena na zgoščenko <em>Svoboda</em>, tako da bomo peli predvsem pesmi, ki so domoljubne, partizanske, osvobodilne in kar je še podobnih svobodnih pridevnikov.</p>

        <ul class="concert-list">
            <li><strong>6. 5. ob 18. uri</strong> bomo v Celjskem domu v okviru dogodka <a href="https://www.facebook.com/events/952935804737843/">Na pragu svobode</a> premierno izvedli marsikatero skladbo z nove zgoščenke in slednjo tudi prvič pokazali širnemu svetu. 70. obletnico konca 2. svetovne vojne, osvoboditve Celja, Slovenije in zmage nad nacifašizmom bomo počastili skupaj z Mešanim pevskim zborom Pevskega Društva upokojencev Celje in Mladinskim pevskim zborom Osnovne šole Ljubečna.</li>
            <li><strong>9. 5. ob 10. uri</strong> nas boste lahko najprej videli na Titovem trgu v Velenju, kjer bomo ob dnevu zmage zapeli v okviru <a href="http://www.festival-velenje.si/1245?newsId=10175">20. Cvetličnega sejma</a>.</li>
            <li><strong>Istega dne ob 19. uri</strong> nas boste lahko slišali na drugem koncu države. V Domu na Vidmu v Ilirski Bistrici bomo gostovali na <a href="http://www.zpzp.si/vox-ilirica-vabilo-na-koncert-ob-30-letnici/">koncertu ob 30-letnici dekliške zasedbe Vox Ilirica</a>.</li>
        </ul>

        <p>Najnovejše informacije o prihajajočih nastopih lahko vedno najdete na naši <a href="https://www.facebook.com/Oktet9?fref=ts">Facebook strani.</a></p>

        <hr>

        <h2 id="kontakt">Kontakt</h2>

        <p>Če bi nas radi najeli za nastop, pokličite <a href="tel:+38641708945">041708945</a> (Gregor) ali <a href="tel:+38640453789">040453789</a> (Jan). Kadarkoli nam lahko tudi <a href="mailto:gregor.deleja@gmail.com">pošljete e-mail</a> ali pustite sporočilo <a href="https://www.facebook.com/Oktet9">na Facebook strani</a>.</p>

        <img src="img/fotka.jpg" alt="Skupinska fotografija zasedbe" />
    </div>

    <hr>

    <footer class="container">© Oktet 9 - 2015</footer>
</main>
